<hello name="{{ name }}"></hello>
<p>
  Ckick the button!
</p>
State code: <input type="text" [(ngModel)]="state"><br>
City name: <input type="text" [(ngModel)]="city"><br><br>
<button (click)="show()">Show</button>

<div *ngIf="result">
<img src="{{result.current_observation.icon_url}}">
  <p>Q1</p>
  <p>State Code: {{result.current_observation.display_location.state}}</p>
  <p>City Name: {{result.current_observation.display_location.city}}</p>
  <p>Q2</p>
  <p>Temperature: {{result.current_observation.temp_f}} F : {{result.current_observation.temp_c}} C</p>
  <p>Wind: {{result.current_observation.wind_string}}</p>
  <p>Pressure: {{result.current_observation.pressure_in}}</p>
  <p>Humidity: {{result.current_observation.relative_humidity}}</p>
  <table>
    <tr>
      <td>Time</td>
      <td>{{result2.hourly_forecast[0].FCTTIME.civil}}</td>
      <td>{{result2.hourly_forecast[1].FCTTIME.civil}}</td>
      <td>{{result2.hourly_forecast[2].FCTTIME.civil}}</td>
      <td>{{result2.hourly_forecast[3].FCTTIME.civil}}</td>
      <td>{{result2.hourly_forecast[4].FCTTIME.civil}}</td>
    </tr>

    <tr>
      <td>condition</td>
      <td>{{result2.hourly_forecast[0].condition}}</td>
      <td>{{result2.hourly_forecast[1].condition}}</td>
      <td>{{result2.hourly_forecast[2].condition}}</td>
      <td>{{result2.hourly_forecast[3].condition}}</td>
      <td>{{result2.hourly_forecast[4].condition}}</td>
    </tr>

    <tr>
      <td>Feelslike</td>
      <td>{{result2.hourly_forecast[0].feelslike.english}}</td>
      <td>{{result2.hourly_forecast[1].feelslike.english}}</td>
      <td>{{result2.hourly_forecast[2].feelslike.english}}</td>
      <td>{{result2.hourly_forecast[3].feelslike.english}}</td>
      <td>{{result2.hourly_forecast[4].feelslike.english}}</td>
    </tr>

    <tr>
      <td>Temp</td>
      <td>{{result2.hourly_forecast[0].temp.english}}</td>
      <td>{{result2.hourly_forecast[1].temp.english}}</td>
      <td>{{result2.hourly_forecast[2].temp.english}}</td>
      <td>{{result2.hourly_forecast[3].temp.english}}</td>
      <td>{{result2.hourly_forecast[4].temp.english}}</td>
    </tr>

  </table>

</div>
